In [68]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import CategoricalNB
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeClassifier

print('Import Complete')

Import Complete

## Loading Dataset

In [3]:
data = pd.read_csv('/Users/ilaakshmishra/Documents/Machine_Learning/Assignment2/iris.csv')
print('Data Read')
data.describe()

Data Read

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [4]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [7]:
le = LabelEncoder()
data['variety'] = le.fit_transform(data['variety'])

In [8]:
X = data.drop('variety', axis=1)
y = data['variety']

In [9]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [10]:
# Creating and training the Naive Bayes model
model = GaussianNB()
model.fit(X, y)  # Using the entire dataset for training as it's a small dataset

GaussianNB()

In [11]:
# New observations to predict their species
new_observations = [[4.5, 3.0, 5.6, 2.1], [5.4, 2.6, 4.5, 0.0]]

In [14]:
# Predicting the species for the new observations
predictions = model.predict(new_observations)

/Users/ilaakshmishra/anaconda3/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [15]:
# Assume these are the feature names used during model training
feature_names = ['sepal.length', 'sepal.width', 'petal.length', 'petal.width']

# New observations with the same feature names
new_observations_df = pd.DataFrame([[4.5, 3.0, 5.6, 2.1],
                                    [5.4, 2.6, 4.5, 0.0]], columns=feature_names)

# Now use this DataFrame to predict
predictions = model.predict(new_observations_df)

In [16]:
# Converting numerical predictions back to species names
predicted_species = le.inverse_transform(predictions)

# Output the predicted species
print(predicted_species)

['Virginica' 'Versicolor']

In [50]:
df = pd.read_csv('/Users/ilaakshmishra/Documents/Machine_Learning/Assignment2/tennis_data.csv')
print('Read Complete')
df.head()

Read Complete

,Outlook,Temperature,Humidity,Wind,Play Tennis,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Sunny,Hot,High,Weak,No,NaN,NaN,Sunny,2.0,NaN,NaN,2.0,1.0,0.0,0.0
1,Sunny,Hot,High,Strong,No,NaN,NaN,Overcast,0.0,NaN,NaN,0.0,2.0,0.0,0.0
2,Overcast,Hot,High,Weak,Yes,NaN,NaN,Rainy,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Rainy,Mild,High,Weak,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rainy,Cool,Normal,Weak,Yes,NaN,NaN,Hot,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
relevant_columns = ['Outlook', 'Temperature', 'Humidity', 'Wind', 'Play Tennis']
df = df[relevant_columns].dropna()

In [57]:
df.head()

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3     Rainy        Mild     High    Weak         Yes
4     Rainy        Cool   Normal    Weak         Yes

In [92]:
# Preprocessing
le = LabelEncoder()
df_encoded = df.apply(le.fit_transform)

In [93]:
# features (X) and target variable (y)
X = df_encoded.drop('Play Tennis', axis=1)
y = df_encoded['Play Tennis']

In [94]:
# Split the data into training and test sets
X_train_encoded, X_test_encoded, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [95]:
# Create a pipeline that encodes categorical variables and then fits a decision tree
# One-hot encode the full dataset to accommodate all categories
encoder = OneHotEncoder()
X_encoded = encoder.fit_transform(X)

In [96]:
classifier = DecisionTreeClassifier(random_state=42)
classifier.fit(X_train_encoded, y_train)

DecisionTreeClassifier(random_state=42)

In [97]:
def predict_outcome_new_model(outlook, temperature, humidity, wind):
    # Format the input for the model
    input_data = pd.DataFrame([[outlook, temperature, humidity, wind]], 
                              columns=['Outlook', 'Temperature', 'Humidity', 'Wind'])
    # Encode the input data using the fitted encoder
    input_encoded = encoder.transform(input_data)
    # Make a prediction with the trained classifier
    prediction = classifier.predict(input_encoded)
    return prediction[0]

In [98]:
df.head()

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3     Rainy        Mild     High    Weak         Yes
4     Rainy        Cool   Normal    Weak         Yes

In [100]:
scenario_1_new = predict_outcome_new_model('Sunny', 'Hot', 'High', 'Strong')
scenario_2_new = predict_outcome_new_model('Overcast', 'Mild', 'High', 'Strong')

ValueError: Found unknown categories ['Sunny'] in column 0 during transform